/* PC */
@media (min-width: 1024px)  {
}

/* Tablet */
@media screen and (min-width: 740px , max-width: 1023px) {

}   

/* Monile */
@media (max-width: 740px) {
    #nav {
        display: block;
    }

    #nav > li {
        display: block;
    }

    #header .search-btn {
        display: none;
    }
}

@media ()